body {
    height: 100vh;
}

.main {
    background-image: url('/images/nebula_big.png');
    background-size: cover;
    height: 100%;
    max-height: 100%;
}

.my-flex {
    height: 100%;
}

.demo-container {
    display: grid;
    grid-template-columns: repeat(2, 0.75fr);
    grid-template-rows: repeat(16, calc((100% - 105px)/16));
    background-color: white;
    border-radius: 60px;
    padding: 20px;
    gap: 7px;
    border: black solid 2px;
}

.dimmed-overlay {
    /*background-color: rgba(0, 0, 0, 0.75); !* Semi-transparent black background *!*/
    z-index: 1000; /* Ensure the overlay is on top of other content */
}

.white-overlay {
    background-color: #ffffff;
    border: black solid 2px;
}

.round-overlay {
    border-radius: 40px;
    padding: 10px;
}

.text-gray {
    color: black;
}

.giveaway-winner {
    border: black dashed 2px;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
}