.w-90p {
    width: 90%;
}

.w-25p {
    width: 25%;
}

.w-15p {
    width: 15%;
}

.w-125p {
    width: 12.5%;
}

.w-20p {
    width: 20%;
}

.w-95p {
    width: 95%;
}

.w-20p {
    width: 20%;
}

.w-50p {
    width: 50%;
}

.w-75p {
    width: 75%;
}

.w-90p {
    width: 90%;
}

.w-10p {
    width: 10%;
}

.w-100p {
    width: 100%;
}

.minw {
    min-width: 35vw;
}

.cursor-pointer {
    cursor: pointer;
}

.h-100p {
    height: 100%;
}

.h-75v {
    max-height: 75vh;
    overflow-y: auto;
}

.bg-green {
    background-color: #126413 !important;
}

@font-face {
    font-family: 'Bigboz-Web';
    src: url('/fonts/Bigboz.otf') format('opentype'),
}

.bigboz-font {
    font-family: 'Bigboz-Web', Bigboz, sans-serif;
}