.w-90 {
    width: 90%;
}

.w-25p {
    width: 25%;
}

.w-15 {
    width: 15%;
}

.w-20 {
    width: 20%;
}

.w-20p {
    width: 20%;
}

.w-50p {
    width: 50%;
}

.w-10p {
    width: 10%;
}

.w-100p {
    width: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.h-75v {
    max-height: 75vh;
    overflow-y: auto;
}

.bg-green {
    background-color: #126413;
}